@import url(//db.onlinewebfonts.com/c/3dd6e9888191722420f62dd54664bc94?family=Myriad+Pro);

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 400px;
  background: #858585;
  font-family: "Myriad Pro", sans-serif;
}

.wrapper .show-input {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 90%;
  height: 35vh;
}

.wrapper .buttons {
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 55vh;
  height: 85vh;
  padding: 4vh;
  background: #f3ece7;
  border-radius: 15px 15px 0 0;
}

.wrapper .buttons button{
  width: 12vh;
  margin: 1vh;
  height: 12vh;
  border: none;
  color: #f3ece7;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  background: #5b5b5b;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.25);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.25);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.wrapper .buttons .color-lightgrey {
  background: #c9ccd3;
}

.wrapper .buttons button:nth-child(11) {
  width: 26vh;
}

.wrapper .buttons .actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40vh;
  right: 3vh;
}

.wrapper .buttons .actions .color-lightOrange {
  background: #faba75;
}