@import url(//db.onlinewebfonts.com/c/3dd6e9888191722420f62dd54664bc94?family=Myriad+Pro);

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 500px;
  background: #858585;
  font-family: "Myriad Pro", sans-serif;
}

.wrapper .show-input-previous {
  display: flex;
  flex-direction: column;
  padding: 4vh;
  width: 40vh;
  height: 35vh;
  word-break: break-all;
  font-size: 20px;
  color: #f3ece7;
  text-align: right;
}

.wrapper .show-input-now {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 40vh;
  word-break: break-all;
  font-size: 20px;
  color: #5b5b5b;
  text-align: right;
}

.wrapper .buttons {
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 43vh;
  height: 70vh;
  padding: 4vh;
  background: #f3ece7;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -3px 10px 0 rgba(0,0,0,.25);
}

.wrapper .buttons .arrow {
  padding: 0 45%;
  width: 3vh;
}

.wrapper .buttons hr {
  height: 3px;
  border-radius: 5px;
  background: #5b5b5b;
  border: none;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.25);
}

.wrapper .buttons button{
  width: 9vh;
  margin: 1vh;
  height: 9vh;
  border: none;
  color: #f3ece7;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  background: #5b5b5b;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.25);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.25);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.wrapper .buttons .color-lightgrey {
  background: #c9ccd3;
}

.wrapper .buttons button:nth-child(14) {
  width: 20vh;
  text-align: left;
  padding-left: 3.5vh;
}

.wrapper .buttons .actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 41vh;
  right: 2.5vh;
}

.wrapper .buttons .actions .color-lightOrange {
  background: #faba75;
}